name: Record ATIS Audio

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  record:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Record Audio
        run: |
          # Utilisation du nouveau flux Kobly
          ffmpeg -y -i "https://icecast.kobly.com/eetn2_atis" -t 180 -c:a pcm_s16le -ar 16000 -ac 1 atis_recorded.wav

      - name: Commit and Push Audio
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add atis_recorded.wav
          git commit -m "Update ATIS Audio Recording" || exit 0
          git push
